.home-container {
  height: 90vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.home-logo-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Allegro';
  color: #bfbfbf;
}

.home-logo-container > a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.home-logo-container img {
  filter: contrast(0.5);
}

.home-mid-section {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-form-container, .home-display-container, .home-tickets-container {
  height: 65vh;
  width: calc(100% - 10%);
  margin: 0 2%;
  border: 1px solid #dfdfdf;
  border-radius: 25px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-form-title, .home-display-title, .home-tickets-title {
  margin-bottom: 15px;
  font-size: 25px;
  font-family: 'Allegro';
}

.home-form-container .mat-form-field {
  width: 100%;
}

.icon-incident {
  color: #cd5c5c;
  margin-right: 5px;
}

.icon-request {
  color: #5c83a1;
  margin-right: 5px;
}

.home-priority-title {
  font-size: 20px;
  font-family: 'Allegro';
}

.home-display-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home-display-ticket-status-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.home-display-ticket-reporter, .home-display-ticket-created_at, .home-display-ticket-id, .home-display-ticket-area {
  font-size: 15px;
  font-family: 'Allegro';
  margin-top: 20px;
}

.home-display-ticket-description {
  margin-top: 20px;
  font-family: "Courier New";
  max-width: 220px;
  overflow-wrap: break-word;
}

.home-display-ticket-id {
  color: #bababa;
}

.home-tickets-list-container {
  height: 360px;
  overflow-x: scroll;
}

.home-tickets-list {
  position: static;
  padding: 5px;
}

.home-ticket {
  border: 1px #bababa solid;
  width: 200px;
  height: 100px;
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: center;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  width: calc(100% - 10px);
}

.top-row{
  .home-display-ticket-id{
    margin-top: 0;
  }
}

.mid-row{
  .home-display-ticket-created_at {
    margin-top: 0;
  }
}

.bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.bottom-row{
  .home-display-ticket-reporter{
    margin-top: 0;
  }
  button {
    line-height: 15px;
    font-size: 12px;
  }
}
