<div class="home-container">
    <div class="home-mid-section">
        <div class="home-form-container">
            <div class="home-form-title">
                Tworzenie zadania
            </div>
            <form style="display: flex; flex-direction: column; align-items: center;" [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-select placeholder="Osoba zgłaszająca" formControlName="reporter" required>
                        <mat-option *ngFor="let user of users" [value]="user.name">{{user.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Rodzaj zadania" formControlName="type" required>
                        <mat-option value="ISSUE"><i class="fa fa-bug icon-incident"></i>Błąd</mat-option>
                        <mat-option value="REQUEST"><i class="fa fa-tasks icon-request"></i>Żądanie</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Obszar zadania" formControlName="area" required>
                        <mat-option value="INFRASTRUCTURE">Infrastruktura</mat-option>
                        <mat-option value="APPLICATION">Aplikacja</mat-option>
                        <mat-option value="OTHER">Inne</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Priorytet" formControlName="priority" required>
                        <mat-option value="LOW">Niski</mat-option>
                        <mat-option value="MEDIUM">Średni</mat-option>
                        <mat-option value="HIGH">Wysoki</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Opis zadania" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=3 formControlName="description"></textarea>
                </mat-form-field>
                <button type="submit" [disabled]="!ticketForm.valid" mat-button>Stwórz zadanie</button>
            </form>
        </div>
        <div class="home-display-container">
            <div class="home-display-title">
                Podglad zadania
            </div>
            <div class="home-display-content">
                <div class="home-display-ticket-status-type">
                    <!--<mat-form-field>
                        <mat-label>Status</mat-label>
                        <select matNativeControl [formControl]="status">
                            <option value="NEW">Nowy</option>
                            <option value="OPEN">Otwarty</option>
                            <option value="IN_PROGRESS">W trakcie realizacji</option>
                            <option value="WAITING_FOR_RESPONSE">Oczekujacy na odpowiedz uzytkownika</option>
                            <option value="WAITING_FOR_3RD_PARTY_RESPONSE">Oczekujacy na akcje osob trzecich</option>
                            <option value="RESOLVED">Rozwiazany</option>
                        </select>
                    </mat-form-field>-->
                    <button *ngIf="recentTicket.status != ''" mat-stroked-button>{{recentTicket.status}}</button>
                    <button *ngIf="recentTicket.type != ''" mat-stroked-button>{{recentTicket.type}}</button>
                </div>
                <div *ngIf="recentTicket.id != ''" class="home-display-ticket-id">
                    #{{recentTicket.id}}
                </div>
                <div *ngIf="recentTicket.area != ''" class="home-display-ticket-area">
                    <button mat-stroked-button>{{recentTicket.area}}</button>
                </div>
                <div *ngIf="recentTicket.createdAt != ''" class="home-display-ticket-created_at">
                    {{recentTicket.createdAt ? formatDate(recentTicket.createdAt) : ''}}
                </div>
                <div *ngIf="recentTicket.reporter != ''" class="home-display-ticket-reporter">
                    {{recentTicket.reporter}}
                </div>
                <div class="home-display-ticket-description">
                    {{recentTicket.description}}
                </div>
            </div>
        </div>
        <div class="home-tickets-container">
            <div class="home-tickets-title">
                Lista zadan
            </div>
            <div class="home-tickets-list-container">
                <div class="home-tickets-list">
                    <a *ngFor="let ticket of ticketList" (click)="showTicket(ticket)" style="cursor: pointer;">
                        <div class="home-ticket">
                            <div class="top-row">
                                <div class="home-display-ticket-id">#{{ticket.id}}</div>
                                <button mat-stroked-button>{{ticket.type}}</button>
                            </div>
                            <div class="mid-row">
                                <div class="home-display-ticket-created_at">{{ticket.createdAt}}</div>
                            </div>
                            <div class="bottom-row">
                                <div class="home-display-ticket-reporter">
                                    {{ticket.reporter}}
                                </div>
                                <button mat-stroked-button>{{ticket.area}}</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
