.navbar-container {
    background: #1a2c3c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    max-height: 10vh;
}
.navbar-logo {
    height: 10vh;
}
.navbar-logo img {
    height: 100%;
    filter: brightness(2);
}
