@import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: "Allegro";
  src: url("assets/fonts/Aller_Bold/Aller_Bd.woff") format("woff");
}
body {
  margin: 0;
}
.top-row {
  button{
    font-size: 10px !important;
    padding: 0px 0px !important;
    line-height: 20px !important;
  }
}
